.kaufman__triangle {
  position: absolute;
  top: 0px;
  right: -210px;
  z-index: -1;

  max-width: 877px;
  width: 100%;
  max-height: 877px;
  height: 100%;
  background-image: url(../../../images/kaufman-triangle.svg);
  background-size: contain;
}